<!DOCTYPE html>
<html>

<head>
    <title>Adobe Test </title>
    <link rel='stylesheet' href='/css/styles.css'>

    <script type="module" src="/js/starter.js"> </script>
</head>

<body>

    <div class="main-content">
        <h1 id="title" class="go-title">{{title}}</h1>
        {{>header}}
        <div class="container-converter">
            <h2>Convert an integer to roman numeral</h2>
            <form id="submit-conversion">
                <input id="input-int" placeholder="Your number" type="number" min="0" max="255" />
                <button class="button-text">Convert</button>
            </form>
            <p class="results">
                <span class="result-label"></span>
                <span class="result-number"></span>
            </p>
        </div>

    </div>
    {{>footer}}


</body>

</html>